# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/

/yarn.lock
/node_modules/
/gradle/
/.idea/
/src/main/resources/static/js/main.js
/src/main/java/by/deathsmell/battleship/Helper.java
